@page
@model MascotaFeliz.App.Frontend.Pages.VisitaModel
@{
    ViewData["Title"] = "Visita PyP";

    int mascotaId = Model.mascotaSave.Id;
}

<div class="row">
    <div class="col-md-6 animate__animated animate__fadeInLeft">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h3 class="fw-bolder mb-0">Registro de Visita PyP</h3>
                <p class="fs-6 lead">Ingresa los datos a registrar.</p>
                <form class="needs-validation clss-form" autocomplete="off" method="post">
                    <div class="row g-3">
                        <input type="hidden" asp-for="mascotaSave.Id" />

                        <div class="col-12 mt-1">
                            <label for="nombre" class="form-label mb-0">Nombre</label>
                            <input type="text" class="form-control" asp-for="mascotaSave.Nombre" id="nombre" disabled
                                readonly>
                        </div>

                        <div class="col-12 mt-1">
                            @Html.LabelFor(model => model.VisitaSave.FechaVisita, htmlAttributes: new { @class =
                            "form-label mb-0" })
                            @Html.TextBoxFor(model => model.VisitaSave.FechaVisita, new { @type="date", @class =
                            "form-control datepicker", @Value = Model.VisitaSave.FechaVisita.ToString("yyyy-MM-dd")
                            } )
                            @Html.ValidationMessageFor(model => model.VisitaSave.FechaVisita, "", new { @class =
                            "text-danger" })
                        </div>

                        <div class="col-6 mt-1">
                            <label for="temperatura" asp-for="VisitaSave.Temperatura"
                                class="form-label mb-0">Temperatura</label>
                            <input type="text" asp-for="VisitaSave.Temperatura" class="form-control" id="temperatura"
                                placeholder="Ingresar temperatura">
                            <span class="text-danger" asp-validation-for="VisitaSave.Temperatura"></span>
                        </div>

                        <div class="col-6 mt-1">
                            <label for="peso" asp-for="VisitaSave.Peso" class="form-label mb-0">Peso</label>
                            <input type="text" asp-for="VisitaSave.Peso" class="form-control" id="peso"
                                placeholder="Ingresar peso">
                            <span class="text-danger" asp-validation-for="VisitaSave.Peso"></span>

                        </div>

                        <div class="col-6 mt-1">
                            <label for="frecuenciaRespiratoria" asp-for="VisitaSave.FrecuenciaRespiratoria"
                                class="form-label mb-0">Frecuencia Respiratoria</label>
                            <input type="text" asp-for="VisitaSave.FrecuenciaRespiratoria" class="form-control"
                                id="frecuenciaRespiratoria" placeholder="Ingresar frecuencia respiratoria">
                            <span class="text-danger" asp-validation-for="VisitaSave.FrecuenciaRespiratoria"></span>
                        </div>

                        <div class="col-6 mt-1">
                            <label for="frecuenciaCardiaca" asp-for="VisitaSave.FrecuenciaCardiaca"
                                class="form-label mb-0">Frecuencia Cardiaca</label>
                            <input type="text" asp-for="VisitaSave.FrecuenciaCardiaca" class="form-control"
                                id="frecuenciaCardiaca" placeholder="Ingresar frecuencia cardiaca">
                            <span class="text-danger" asp-validation-for="VisitaSave.FrecuenciaCardiaca"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="estadoAnimo" asp-for="VisitaSave.EstadoAnimo" class="form-label mb-0">Estado
                                Animo</label>
                            <input type="text" asp-for="VisitaSave.EstadoAnimo" class="form-control" id="estadoAnimo"
                                placeholder="Ingresar estado animo">
                            <span class="text-danger" asp-validation-for="VisitaSave.EstadoAnimo"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="recomendaciones" asp-for="VisitaSave.Recomendaciones"
                                class="form-label mb-0">Recomendaciones</label>
                            <input type="text" asp-for="VisitaSave.Recomendaciones" class="form-control"
                                id="recomendaciones" placeholder="Ingresar recomendaciones">
                            <span class="text-danger" asp-validation-for="VisitaSave.Recomendaciones"></span>
                        </div>

                        <div class="col-12 mt-1">
                            <label for="veterinario" class="form-label mb-0">Veterinario</label>
                            <select class="form-control" id="veterinario" asp-for="VisitaSave.IdVeterinario"
                                aria-label="Default select example">
                                <option value="0">Seleccione el veterinario</option>
                                @foreach (var veterinario in Model.veterinarios)
                                {
                                    <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos</option>
                                }
                            </select>
                        </div>

                    </div>
                    <button class="w-100 btn btn-primary btn-lg mt-4" type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 animate__animated animate__fadeInRight">
        <img src="~/img/visita.png" class="w-100">
    </div>
</div>

<script>
    document.querySelector("#menuVisita").classList.add("active");
</script>