@page "/consultarMascotas"
@model MascotaFeliz.App.Frontend.Pages.ConsultarModel
@{
  ViewData["Title"] = "Consultar Mascostas";
}

@section Consultar
{
<div id="consultar" class="container py-3 mt-3 animate__animated animate__fadeIn">
  <div class="p-3 pb-md-4 mx-auto border-bottom">
    <h3 class="fw-bolder mb-0  text-center">Consultar Mascotas</h3>
    <p class="fs-6 lead  text-center">En esta sección podrás consultar la información de las mascostas</p>

    <form class="row gy-2 gx-3 align-items-end clss-form">
      <div class="col">
        <label for="propietario" class="form-label mb-0">Propietario</label>
        <input type="text" class="form-control" id="propietario" placeholder="Ingresar Propietario">
        <div class="invalid-feedback">
          Se requiere un Propietario.
        </div>
      </div>

      <div class="col">
        <label for="nombre" class="form-label mb-0">Mascota</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre de mascota" required>
        <div class="invalid-feedback">
          Se requiere un nombre válido.
        </div>
      </div>

      <div class="col">
        <label for="veterinario" class="form-label mb-0">Veterinario</label>
        <input type="text" class="form-control" id="especie" placeholder="Ingresar veterinario" required>
        <div class="invalid-feedback">
          Se requiere que ingrese veterinario.
        </div>
      </div>
      <button class="col btn btn-primary py-2" type="submit">Consultar</button>
    </form>
  </div>
  <main>
    <div class="table-responsive mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Especie</th>
            <th scope="col">Color</th>
            <th scope="col">Raza</th>
            <th scope="col">Propietario</th>
            <th scope="col">Veterinario</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var propietario in Model.propietarios)
          {
          <tr>
            <td>@propietario.Nombres</td>
            <td>@propietario.Apellidos</td>
            <td>@propietario.Direccion</td>
            <td>@propietario.Telefono</td>
            <td>@propietario.Correo</td>
            <td>Jorge Uribe Petro</td>
          </tr>
          }

        </tbody>
      </table>
    </div>
  </main>

</div>
}